:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --focus-color: #db00ff;
  --title-color: #ff0070;
  --decor-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root(.header__theme-menu-button_type_dark.header__theme-menu-button_active) {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --focus-color: #db00ff;
    --title-color: #ff0070;
    --decor-color: #000028;
  }
}
