@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --focus-color: #ffc2e6;
    --title-color: #353430;
    --decor-color: #353430;
    --button-hover-color: rgb(53, 52, 48, 0.4);
    --background-image: url(../images/cover-image-light.png);
    --record-display: none;
  }
}

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --focus-color: #ffc2e6;
  --title-color: #353430;
  --decor-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --record-display: none;
}
